* {
  padding:0;
  margin:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{   
    font-family:lato,sans-serif;  
}

header { 
    display: inline-block;
    background-color: #FFF5E8;
    width: 100%;
    height: 90px;   
} 

header .logo {
  width: 100%;
  height: 70px;
  padding-left: 10px;
  padding-top: 10px;
}

#whatsapp{
    position: fixed;
    right: 30px;
    bottom: 70px;
    display:none;

}

.redes{
  width: 100%;  
  font-size: 1.2em; 
  padding: 30px;
  text-align: center;
  justify-content: space-between;
}





.ingreso {
  display: flex;
  width: 100%;
}

.ingreso1000{
  display: none;
}

.ingresomovil {
  display: none;
}

.producto {
  width: 100%;
}






.flex-container-info {
  display: flex;
  flex-direction: row;
  height: auto;
}



.flex-container {
  width: 50%;
  display: flex;
  padding: 70px 20px 70px 350px;
  flex-direction: column;
}



.flex-container-redes {
  display: flex;
  height: 45px;
 
  }

.flex-container-redes p {
  font-size: 16px;
  font-weight: 300;  
  line-height:1.7em;
  margin-left: 5px;
  color: #979797;
  }

.parrafo {
  text-align: left;

  padding: 20px 10px 20px 100px;
  align-items: center;
  display: flex;
  height: auto;
  width: 100%;
  border-left: 2px solid #dfdfde;
  margin: 70px 150px 70px 10px;

}

.parrafo p {
  font-size: 18px;
  font-weight: 300;  
  line-height:1.7em;
  margin-left: 5px;
  color: #979797;
  }






.footer {
    font-size: 12px;
    background-color: #FFF5E8;
    text-align:center;
    padding:15px;
}









@media (max-width: 1500px) {



.flex-container-info {
  display: flex;
  flex-direction: row;
  height: auto;
}



.flex-container {
  text-align: left;
  width: 100%;
  display: flex;
  padding: 85px 20px 70px 230px;
  flex-direction: column;
  height: auto;

}





@media (max-width: 1000px) {

  .ingreso {
    display: none;
  }
  
  .ingreso1000 {
    display: block;
  }

  .ingresomovil {
    display: none;
  }





  .flex-container-info {
  display: flex;
  flex-direction: row;
  height: auto;
 }



.flex-container {
  text-align: left;
  width: 100%;
  display: flex;
  padding: 85px 10px 70px 70px;
  flex-direction: column;
  height: auto;
  }

  .parrafo {
  text-align: left;

  padding: 20px 10px 20px 70px;
  align-items: center;
  display: flex;
  height: auto;
  width: 100%;
  border-left: 2px solid #dfdfde;
  margin: 70px 150px 70px 10px;

}


}

@media (max-width: 700px) {

  header { 
    height: auto; 
    border-bottom: none;      
  } 
  
  .logo {
    display: block;
    float: center;
    height: 75px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .ingreso {
    display: none;
  }
  .ingreso1000 {
    display: none;
  }
  .ingresomovil {
    display: block;
  }

  .producto {
    width: 100%;
    height: auto;
  }




  .flex-container-info {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    
  }


  .flex-container {
    display: flex;
    
    width: 100%;
    padding: 20px 20px 60px 100px;
    flex-direction: column;
  }

.parrafo {

  text-align: center;
  align-items: center;
  display: flex;
  border-bottom: 2px solid #dfdfde;
  border-left: none;
  padding: 0px 80px 50px 80px;


   height: auto;

}

 
}
